* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter-container {
    width: 420px;
    border: 4px solid #222;
    border-radius: 18px;
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.tabs {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.tab {
    cursor: pointer;
    padding-bottom: 5px;
}

.tabs span {
    cursor: pointer;
    padding-bottom: 5px;
}

.tabs .active {
    color: #2f6bff;
    border-bottom: 3px solid #2f6bff;
}

.converter-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-size: 18px;
    margin-top: 10px;
}

input,
select {
    height: 45px;
    border: 3px solid #222;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
}

button {
    width: 160px;
    margin-top: 25px;
    padding: 12px;
    font-size: 18px;
    border: 3px solid #222;
    border-radius: 12px;
    background: #ffffff;
    cursor: pointer;
}

button:hover {
    background: #f2f2f2;
}